.navbar {
    background-color: #111;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-img {
    width: 100px;
    height:100px;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  
  

  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

 
.hamburger {
  display: none;
  background: none;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
    color: white;
    list-style-type: none;
  }

  .nav-links.active {
    display: flex;
  }
}